<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <div><span>skills: </span>
  <ul >
    <li *ngFor="let skill of hero.skills">
      {{skill}}
    </li>
  </ul>
  </div>
  <div>
    <label>Add skill:
      <input #addSkill />
    </label>
  </div>
  <div>
    <button (click)="hero.skills.push(addSkill.value); addSkill.value=''; save()">
      Add
    </button>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="saveAndGoBack()">save</button>
</div>
